<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}

    <meta charset="UTF-8">
    <title>About Us</title>

</head>
<body style="background-color:#d9d9d9">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-11"><b><h5>About us</h5></b></div>
        </div>
    </div>
    <br>
    <div class="container">
        <p>We offer a range of training services and products, including</p>
    </div>
    <div class="container">
        <ul>
            <li>Customized training for playing basketball,</li>
            <li>Training for origami design,</li>
            <li>Rent movies and TV-drama series.</li>
        </ul>
    </div>

</body>
</html>